:root {
  --border-radius: 10px;
}

.connect-row{
  margin-bottom:20px;
}

.main-container{
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 34px #999;
  margin: 50px auto;
  padding: 30px 54px;
}

.btn{
   background-color:#4eb5f1;
   border-radius: var(--border-radius);
   border: none;
   color: #ffffff;
   margin:0 4px 4px 0;
   padding: 8px 12px;
}

.btn:disabled{
  background-color:#cccccc;
}

.btn:hover:enabled{
  background-color: #4095c6;
}

.text-input{
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
  margin:0 4px 4px 0;
  padding: 4px 12px;
  width: 100%;
}

.text-input:disabled{
  background-color:#e9ecef;
}

.text-input:focus{
  outline: 1px solid #ced4da;
}

.chat-container{
   border:1px solid #ced4da;
   border-radius: var(--border-radius);
   margin:0 4px 4px 0;
   padding:6px 2px;
   flex-grow: 1; /* Added flex-grow */
   display: flex;
   flex-direction: column;
}

.chat {
  flex-grow: 1; /* Added flex-grow */
  overflow: auto;
}

.chat-tag{
   background-color: #aee5cb;
   border-radius: var(--border-radius);
   display: inline-block;
   padding: 4px;
}

.chat.mobile-padding > * {
  padding: 10px; /* Padding applied to all children of .chat.mobile-padding */
}

.title{
  margin-top: 50px;
  text-align: center;
}   

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .chat {
     padding: 30px; /* Default padding for mobile devices */
  }

  input {
     font-size: 10px;
  }
}